body{
    align-items: center;
    place-items: center;
    margin-top: 5%;
}

.messageBox{
    height: 300px;
    width: 400px;
    margin: 50px;
    color: white;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    display: none;
}

.counter{
    margin-top: 10px;
}

.clearBtn{
    margin-top: 10px;
align-self: center;
    display: none;
}