.container{
    display: flex;
    gap: 5px;
}

.first{
    background: red;
    height: 40px;
    width: 40px;
}
.second{
    background: blue;
    height: 40px;
    width: 40px;
}
.third{
    background: green;
    height: 40px;
    width: 40px;
}