body{
    place-items: center;
    margin-top: 10%;
}

.container{
    display: flex;
    gap: 20px;
}

.box{
    display: flex;
    flex-direction: column;
}
.box h4{
   font-size: 14px;
}

.redBtn{
    background: red;
    height: 30px;
    width: 30px;
    border: none;
}
.blueBtn{
    background: blue;
    height: 30px;
    width: 30px;
    border: none;
}
.greenBtn{
    background: green;
    height: 30px;
    width: 30px;
    border: none;
}
.yellowBtn{
    background: yellow;
    height: 30px;
    width: 30px;
    border: none;
}

.leader{
   transform: scale(1.3);
    border:2px solid black;
}