body{
    margin-top: 10%;
    place-items: center;
}
.copyBtn {
    height: 20px;
}
.copyText{
    font-size: 12px;
}

.inputfield{
    display: flex;
    gap: 15px;
}

.input{
    word-wrap: break-word;
}

.liveDisplay{
    border: 1px solid ;
    max-width: 300px;
    padding: 10px ;
    word-wrap: break-word;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.charCount{
    margin-top: 40px;
}

.clearBtn{
    margin-top: 40px;
}