body{
    place-items: center;
}


.taskContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.task{
  position: relative;
}
.task::before{
    content: '';
    position: absolute;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-image: url("assets/unchecked.png");
    background-size: cover;
    background-position: center;
    left: -25px;
  }
  
  .task.completed{
    text-decoration: line-through;
    color: rgb(143, 142, 142);
  }
  
  .task.completed::before{
    background-image: url(assets/checked.png);
    height: 18px;
    width: 18px;
    background-size: cover;
    background-position: center;
    left: -25px;
    border-radius: 50%;
  }
  section{
    margin-top: 5%;
  }

  .container{
    display: flex;
    gap: 5px;
  }

  .progress-container {
    width: 100%;
    height: 10px;
    background: #ddd;
    border-radius: 10px;
    margin-top: 20px;
  }
  

  .progress-bar {
    height: 10px;
    width: 0%;
    background: #4caf50;
    border-radius: 10px;
    transition: 0.3s ease;
  }

  .noOftaskCompleted{
    margin-top: 10px;
  }